.container {
    max-width: 938px;
    margin: 0 auto;
    background-color: #fff;
}
.movie {
    display: flex;
    justify-content: space-between;
}

.movie img {
    width: 38%;
}
.movie-text {
    width: 58%;
}

.center {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    justify-content: center;

  }

